<launch>
    <!-- set to false for hardware -->
    <arg name="simulation" default="true"/>
    
    <!-- default path to params -->
    <arg name="params_dir_path" default="$(find cr2_navigation)/params/sim" />
    <arg unless="$(arg simulation)" name="params_dir_path" value="$(find cr2_navigation)/params/hw" />  

    
    <include file="$(find cr2_navigation)/launch/include/gmapping.launch">
        <arg if="$(arg simulation)" name="scan_topic" value="/front/scan"/>
        <arg unless="$(arg simulation)" name="scan_topic" value="/rpi_scan_filtered"/>
    </include>

    <include file="$(find cr2_navigation)/launch/include/move_base.launch">
        <arg name="params_dir_path" value="$(arg params_dir_path)/move_base"/>
    </include>

    <include file="$(find cr2_navigation)/launch/include/ekf.launch">
        <arg name="params_dir_path" value="$(arg params_dir_path)/ekf"/>
    </include>
</launch>
