<launch>
  
    <node pkg="aws_robomaker_simulation_common" type="route_manager.py" name="route_manager" output="screen">
       <param name="~mode"  type="str" value="dynamic"/>
    </node>
    
     <!-- Test node -->
 <param name="SIM_TIMEOUT_SECONDS" type="int" value="$(optenv SIM_TIMEOUT_SECONDS 300)" />
 <param name="NAVIGATION_SUCCESS_COUNT" type="int" value="$(optenv NAVIGATION_SUCCESS_COUNT 5)" />
 <node pkg="cr2_hospital_tests" type="navigation_test.py" name="navigation_test" output="screen" required="true" />
 
 
</launch>