<launch>
    <arg name="gui" default="false"/>
    <arg name="rviz" default="false"/>
    <arg name="robot_sdf_file" default="$(find cr2_multifleet)/static_models_w_plugin/cr2/cr2.sdf"/>

    <include file="$(find cr2_control)/launch/cr2_single.launch" >
        <arg name="gui" default="$(arg gui)" />
    </include>

    <!-- launch route manager -->
    <node pkg="softserve_simulation_common" type="move_base_route_manager.py" name="move_base_route_manager" output="screen"/>

    <!--  -->
    <include file="$(find mp_behaviour_tests)/launch/obstacle_avoidance_test.launch" >
        <!-- <rosparam file="$(find <your_package>)/routes/route.yaml" command="load"/>  -->
        <arg name="obstacle_sdf_file" value="$(arg robot_sdf_file)" />
    </include>

        <!-- rviz -->
    <node if="$(eval rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find cr2_tests)/rviz/planner.rviz" />

</launch>